#content {
    width: 40%;
    margin-left: 400px;
}

.parent {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    align-items: center;
} 

.child1 {
    margin-right: auto;
}

.child {
    margin-right: 20px;
}
 
h5 {
    font-style: italic;
}

hr {
    background-color: black;
}

